{% block stylesheets %}
<style>
    h3
    {
        text-align:center;
        font-size:20px;
    }
    p
    {
        font-size:17px;
        text-align:justify;
        text-justify:inter-word;
    }
    div
    {
        width: 210mm;
    }   
    #right
    {
         text-align:right;
    }
</style>
{%endblock stylesheets %}

<html>
    <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    </head>
    <body>
        {%block content %}
        <div>
            </br></br></br></br>
            <p> Na osnovu člana 192 a u vezi člana 73 i 75. Zakona o radu (Sl.glasnik RS br. 24/05 i 61/05), direktor
            društva "IT&NETWORK SERVICES" d.o.o. Niš je doneo sledeće:</p>
            </br>
            <h3> R E Š E N J E </h3>
            <p>Zaposlenom {{ user.getFirstName}} {{ user.getLastName}}, utvrđuje se godišnji odmor
            za {{ year }} . godinu u trajanju od 20 radnih dana.</p>
            <p>Zaposlenom se odobrava korišćenje dela godišnjeg odmora za {{ year}}. godinu u trajanju od {{ numberOfDays }} radnih dana,
            u periodu od {{ request.getStartDate|date('d.m.Y') }} do {{ request.getEndDate|date('d.m.Y') }}. godine.</p>
            </br></br>
            <h3>O b r a z l o ž e n j e</h3>
            <p>Stekli su se zakonski uslovi da zaposleni koristi godišnji odmor za {{ year }}. godinu, pa je uz konsultaciju
            zaposlenog odlučeno kao u dispozitivu.</p>
            </br></br>
            <p>POUKA O PRAVNOM LEKU:</p>
            <p>Protiv ovog rešenja zaposleni ima pravo da pokrene spor pred nadležnim sudom u roku od 90 dana od
            dana prijema.</p>
            </br>
            <p id="right">IT&NETWORK SERVICES doo Niš</p>
            </br>
            <p id="right">___________________________</p>
            <p>Primio:</p>
            </p>_____________________________</p>
        </div>
            {%endblock content %}
    </body>
</html>