{% extends "::base.html.twig" %}

{% block title %} Send Request! {% endblock title %}

{% block stylesheets %}
<style type="text/css">
    body {
      padding-top: 60px;
      padding-bottom: 40px;
    }
    .sidebar-nav {
      padding: 9px 0;
    }

    @media (max-width: 980px) {
      /* Enable use of floated navbar text */
      .navbar-text.pull-right {
        float: none;
        padding-left: 5px;
        padding-right: 5px;
      }
    }
</style>
{% endblock stylesheets %}


{% block navigation %}
    {{ include('::navigation.html.twig',{ 'user': app.user, 'roles': app.user.roles } ) }}
{% endblock navigation %}

{% block container %}
    <div class="form-signin">
        <h2 class="form-signin-heading text-center">Request</h2>
        
        <input class="start_date_help input-block-level" type="text" placeholder="Start date" /><br/>
        <input class="end_date_help input-block-level" type="text" placeholder="End date" />
              
        {{ form_start(form) }}
            {{ form_errors(form) }}

         {{ form_widget(form.comment) }}
        
            <div class="hidden">
                {{ form_label(form.start_date) }}
                {{ form_errors(form.start_date) }}
                {{ form_widget(form.start_date) }}
            </div>

            <div class="hidden">
                {{ form_label(form.end_date) }}
                {{ form_errors(form.end_date) }}
                {{ form_widget(form.end_date) }}
            </div>

        {{ form_end(form) }}
    </div>

{% endblock container %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(vacationRequest.initDatepicker);
    </script>
{% endblock javascripts %}