{% extends '::base.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title%}Edit Info{% endblock title%}

{% block navigation %}
    {{ include('::navigation.html.twig',{ 'user': user, 'roles': roles } ) }}
{% endblock navigation %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        body {
          padding-top: 60px;
          padding-bottom: 40px;
        }
        
    </style>
{% endblock stylesheets %}
    
{% block container %}


<form class="form-signin registration-input-width" action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
    <h2 class="form-signin-heading text-center">Edit Info</h2>
    
   {{ form_start(form) }}
        {{ form_errors(form) }}

        <div>
            <p>Username</p>
            <p class="disabledTextField">{{ form.vars.value.username }}<p>
        </div>
        <div>
            <p>Email</p>
            <p class="disabledTextField">{{ form.vars.value.email }}</p>
        </div>
    
        {{ form_row(form.first_name) }}
        {{ form_row(form.last_name) }}
        
        <div>
            <p>SSN</p>
            <p class="disabledTextField">{{ form.vars.value.ssn }}<p>
        </div>
    
        {{ form_row(form.address) }}
        {{ form_row(form.phone) }}
   
    
    
    
    
    <div >
        <input class="btn btn-primary btn-block btn-large marginTop20" type="submit" value="{{ 'profile.edit.submit'|trans }}   " />
    </div>

    {{ form_end(form, {'render_rest': false}) }}
    
</form>
{% endblock container %}


