{% extends '::base.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title%}Edit Info{% endblock title%}

{% block navigation %}
    {{ include('::navigation.html.twig',{ 'user': user, 'roles': roles } ) }}
{% endblock navigation %}

{% block container %}


<div class="form-signin registration-input-width" >
    <h2 class="form-signin-heading text-center">Edit Info</h2>
    
   {{ form_start(form) }}
        {{ form_errors(form) }}

        <div>
            <p>Username</p>
            <p class="disabledTextField">{{ app.user.username }}<p>
        </div>
        <div>
            <p>Email</p>
            <p class="disabledTextField">{{ app.user.email }}</p>
        </div>
    
        {{ form_row(form.first_name, {'class': 'form-control '}) }}
        {{ form_row(form.last_name) }}
        
        <div>
            <p>SSN</p>
            <p class="disabledTextField">{{ app.user.ssn }}<p>
        </div>
    
        {{ form_row(form.address) }}
        {{ form_row(form.phone) }}   
    
    <div>
        <input class="btn btn-primary btn-block btn-large marginTop20" type="submit" value="{{ 'profile.edit.submit'|trans }}   " />
    </div>

    {{ form_end(form) }}
    
</div>
{% endblock container %}


