{% extends '::base.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title%}Edit Info{% endblock title%}

{% block navigation %}
    {{ include('::navigation.html.twig',{ 'user': user, 'roles': roles } ) }}
{% endblock navigation %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        body {
          padding-top: 60px;
          padding-bottom: 40px;
        }
        
    </style>
{% endblock stylesheets %}
    
{% block container %}


<form class="form-signin registration-input-width" action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
    <h2 class="form-signin-heading text-center">Edit Info</h2>
    
    {{ form_widget(form) }}
    
    
    <div>
        <input class="btn btn-primary btn-block btn-large marginTop20" type="submit" value="{{ 'profile.edit.submit'|trans }}   " />
    </div>
</form>
{% endblock container %}


