<ul>
    {% for request in requests %}
        <li> {{ request.getState }} 
             {{ request.getStartDate|date('Y-m-d') }}  
             {{ request.getEndDate|date('Y-m-d') }}  
             <a href=' {{ path('edit_request_form', {'id' : request.id})}}'>Edit</a>  </li>             
    {% endfor %}
</ul>
<a href='{{ path('send_request_form') }}'>Send Request</a>