{% extends "::base.html.twig" %}

{% block title %} Welcome {{user.getFirstName}}! {% endblock title %}

{% block navigation %}
    {{ include('::navigation.html.twig',{ 'user': user, 'roles': roles } ) }}
{% endblock navigation %}

{% block container %}


<div class="row">
    <div class="col-sm-8 main">
          <select id="requestsFilterProfile">
            <option>all</option>
            <option>pending</option>
            <option>approved</option>
          </select>

        <div id="userRequestResults">
          <table class="table table-striped">
            <thead>
              <tr>
                  <th>Status</th>
                  <th>From</th>
                  <th>To</th>
                  <th>Edit / Pdf</th>
              </tr>   
            </thead>
            <tbody>
              {% for request in requests.currentPageResults %}
                    <tr>
                        <td>{% if 2 == request.state %}Approved{% elseif 3 == request.state%}Rejected{% else %}Pending{% endif %}</td>
                        <td>{{ request.startDate|date('d-m-Y') }} </td>  
                        <td>{{ request.endDate|date('d-m-Y') }} </td>
                        <td><a href="{{ path('request2pdf', {'id': request.id}) }}" target="_blank">Pdf</a></td>
                        {% if (request.getState == 'pending' )%}
                            <td><a href=' {{ path('edit_request_form', {'id' : request.id})}}'>Edit</a></td>  
                        {% else %}
                            <td></td>
                        {% endif %}

                    </tr> 
                {% endfor %}
            </tbody>
          </table>
                
            {% if 1 != requests.getNbPages %}
                <div class="pagerfantaProfile">
                    {{ pagerfanta(requests, 'twitter_bootstrap') }}
                </div>
            {% endif %}
        </div>
    </div>

    <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
        <div class="sidebar-module sidebar-module-inset">
            <h4>Status</h4>
            <li class="nav-header">Days Off From This Year: {{ user.noDaysOff }}</li>
            <li class="nav-header">Days Off From Last Year: {{user.noDaysOffLastYear }}</li>
        </div>
    </div>
</div>
{% endblock container %}