<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('css/main.css') }}">
        <link rel="stylesheet" href="{{ asset('css/datepicker.css') }}">
    </head>
    <body>
        {% block body %}
            
            {% block navigation %}{% endblock navigation %}
            
            <div class='container-fluid'>
                {% block container %}
                {% endblock  %}
            </div>
        {% endblock %}
        

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="{{ asset('js/bootstrap.js') }}"></script>
        <script src="{{ asset('js/bootstrap-datepicker.js') }}"></script>

        {% javascripts
            '@AtesVacationBundle/Resources/public/js/*'
             output='js/joiz_hardcore_combined-min.js' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        
        {% block javascripts %}{% endblock %}
    </body>
</html>
