{% extends '::base.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title%}Registration{% endblock title%}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        body {
          padding-top: 20px;
          padding-bottom: 40px;
        }
        
    </style>
    <link rel="stylesheet" href="{{ asset('css/datepicker.css') }}">
{% endblock stylesheets %}
    
{% block container %}


<form class="form-signin registration-input-width" action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
    <h2 class="form-signin-heading text-center">Registration</h2>
    
    {{ form_widget(form) }}
    
    
    <div>
        <input class="btn btn-primary btn-block btn-large marginTop20" type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>
</form>
{% endblock container %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/bootstrap-datepicker.js') }}"></script>
    
    <script>
        $(document).ready(function(){
            //alert('asdas');
            $('.employment-date').datepicker().on('changeDate', function(ev){
                
                var date = new Date(ev.date.valueOf());
                var dd = date.getDate();
                var mm = date.getMonth()+1; //January is 0!

                var yyyy = date.getFullYear();
                if(dd<10){dd='0'+dd} 
                if(mm<10){mm='0'+mm} 
                date = yyyy+'-'+mm+'-'+dd;
                
                $(this).val(date);
            });
            
            $('.slava-date').datepicker().on('changeDate', function(ev){
                
                var date = new Date(ev.date.valueOf());
                var dd = date.getDate();
                var mm = date.getMonth()+1; //January is 0!

                var yyyy = date.getFullYear();
                if(dd<10){dd='0'+dd} 
                if(mm<10){mm='0'+mm} 
                date = yyyy+'-'+mm+'-'+dd;
                
                $(this).val(date);
            });
            
        });
    </script>
{% endblock javascripts %}
