<table class="table table-striped">
    <thead>
      <tr>
          <th>Status</th>
          <th>From</th>
          <th>To</th>
          <th></th>
          <th></th>
      </tr>   
    </thead>
    <tbody>
        
      {% for request in requests.currentPageResults %}
            {% if request.getState == filter or filter == 'all' %}
                <tr> 
                    <td>
                        {%if 1 == request.getState %} 
                            pending 
                        {% elseif 2 == request.getState %}
                            approved 
                        {% elseif 3 == request.getState %}
                            rejected 
                        {% endif %}
                    </td>
                    <td>{{ request.getStartDate|date('d-m-Y') }} </td>  
                    <td>{{ request.getEndDate|date('d-m-Y') }} </td>
                    <td><a href="{{ path('request2pdf', {'id': request.id}) }}" target="_blank">Pdf</a></td>
                     {% if (request.getState == 'pending' )%}
                        <td><a href=' {{ path('edit_request_form', {'id' : request.id})}}'>Edit</a></td>  
                    {% else %}
                        <td></td>
                    {% endif %}

                </tr> 
            {% endif %}
        {% endfor %}
                
    </tbody>
</table>
{% if 1 != requests.getNbPages %}
    <div class="pagerfantaProfile">
        {{ pagerfanta(requests, 'twitter_bootstrap') }}
    </div>
{% endif %}