<table class="table table-striped">
    <thead>
      <tr>
          <th>Status</th>
          <th>From</th>
          <th>To</th>
          <th></th>
          <th></th>
      </tr>   
    </thead>
    <tbody>
        
      {% for request in requests.currentPageResults %}
            {% if request.getState == filter or filter == 'all' %}
                <tr> 
                    <td>{{ request.getState }}</td> 
                    <td>{{ request.getStartDate|date('d-m-Y') }} </td>  
                    <td>{{ request.getEndDate|date('d-m-Y') }} </td> 
                    {% if (request.getPdf != null )%}
                        <td><a href=' {{ request.getPdf }} '>PDF</a></td>
                     {% endif %}
                     {% if (request.getState == 'pending' )%}
                        <td><a href=' {{ path('edit_request_form', {'id' : request.id})}}'>Edit</a></td>  
                    {% else %}
                        <td></td>
                    {% endif %}

                </tr> 
            {% endif %}
        {% endfor %}
                
    </tbody>
</table>
{{ pagerfanta(requests, 'twitter_bootstrap') }}