{% extends "::base.html.twig" %}

{% block title %} Send Request! {% endblock title %}

{% block stylesheets %}
<style type="text/css">
    body {
      padding-top: 60px;
      padding-bottom: 40px;
    }
    .sidebar-nav {
      padding: 9px 0;
    }

    @media (max-width: 980px) {
      /* Enable use of floated navbar text */
      .navbar-text.pull-right {
        float: none;
        padding-left: 5px;
        padding-right: 5px;
      }
    }
</style>
    <link rel="stylesheet" href="{{ asset('css/datepicker.css') }}">
{% endblock stylesheets %}


{% block navigation %}
    {{ include('::navigation.html.twig',{ 'user': user, 'roles': roles } ) }}
{% endblock navigation %}

{% block container %}
   
    <div class="form-signin">
        <h2 class="form-signin-heading text-center">Holiday</h2>

        {{ form_start(form) }}
            {{ form_errors(form) }}

            <div>
                <div class="hidden">
                    {{ form_label(form.date) }}
                </div>
                {{ form_errors(form.date) }}
                {{ form_widget(form.date) }}
            </div>

            <div>
                <div class="hidden">
                    {{ form_label(form.name) }}
                </div>
                {{ form_errors(form.name) }}
                {{ form_widget(form.name) }}
            </div>

        {{ form_end(form) }}
    </div>
    
    

{% endblock container %}

{% block additionaljs %}
    {{ parent() }}
    <script src="{{ asset('js/bootstrap-datepicker.js') }}"></script>
    <script>
        $(document).ready(function(){
                        
            $('.holiday_date').datepicker().on('changeDate', function(ev){
                
                var date = new Date(ev.date.valueOf());
                var dd = date.getDate();
                var mm = date.getMonth()+1; //January is 0!

                var yyyy = date.getFullYear();
                if(dd<10){dd='0'+dd} 
                if(mm<10){mm='0'+mm} 
                date = yyyy+'-'+mm+'-'+dd;
                
                $(this).val(date);
            });
            
           
            
        });
    </script>
{% endblock additionaljs %}