<body>
    <h3>Hello dear admin.</h3>

<ul>
    {% for request in requests %}
        {% if ( request.getState == 'pending' ) %}
            <li> {{ request.getState }} 
                 {{ request.getStartDate|date('Y-m-d') }}  
                 {{ request.getEndDate|date('Y-m-d') }}  
                 <a href=' {{ path('edit_request_form', {'id' : request.id}) }}'>Edit</a> 
                 <a href=' {{ path('approve_request',  {'id' : request.id}) }}'>Approve</a>
                 <a href=' {{ path('reject_request',  {'id' : request.id}) }}'>Reject</a>
            </li> 
        {% endif %}
    {% endfor %}
</ul>


<br/><h3>Users for approving:</h3>
<ul>
    {% for user in users %}
            <li> {{ user.getFirstName }} 
                 {{ user.getLastName }} 
                 <a href=' {{ path('approve_user', {'id' : user.id}) }}'>Approve</a> 
                 <a href=' {{ path('delete_user_on_approving', {'id' : user.id}) }}'>Delete</a> 
            </li> 
    {% endfor %}
</ul>


<h3> Holidays </h3>
<ul>
    {% for holiday in holidays %}      
            <li> {{ holiday.getDate|date('Y-m-d') }} 
                 {{ holiday.getName }}                    
                 <a href=' {{ path('edit_holiday_form', {'id' : holiday.id}) }}'>Edit</a> 
                 <a href=' {{ path('delete_holiday',  {'id' : holiday.id}) }}'>Delete</a>                
            </li>        
    {% endfor %}
</ul>
<a href=' {{ path('add_holiday') }} '>Add Holiday</a>

</body>
